<div class="ui segment">
  <div class="ui comments">
    <% if @chat.messages.any? %>
    <% @chat.messages.each do |msg| %>
      <div class="comment">
        <div class="content">
          <a class="author">
            <% if current_user.name == User.find(msg.user_id).name  %>
              Me
            <% else %>
              <%= User.find(msg.user_id).name %>
            <% end %>
          </a>
          <div class="metadata">
            <span class="date"><%= time_ago_in_words(msg.created_at) %></span>
          </div>
          <div class="text">
            <%= msg.body %>
          </div>
        </div>
      </div>
    <% end %>
      <% else %>
    No messages yet. Start your conversation!
    <% end %>
  </div>
</div>
<%= render 'messages/message_form' %>
