<div class="ui comments">
  <% @chats.each do |c| %>
    <div class="comment">
      <a class="avatar">
        <img src="https://random.imagecdn.app/30/30">
      </a>
      <div class="content">
        <a class="author"><%= User.find(c.messages.last.user_id).name %></a>
        <div class="metadata">
          <span class="date"><%= time_ago_in_words(c.messages.last.created_at) %></span>
        </div>
        <div class="text">
          <%= c.messages.last.body %>
        </div>
      </div>
    </div>
  <% end %>
</div>