<% if flash.any? %>
  <% flash.each do |key, msg| %>
    <div class="ui warning message transition">
      <i class="close icon"></i>
      <div class="header">
        <%= msg %>
      </div>
    </div>
  <% end %>
<% end %>